body{
	background: url(background.jpg) no-repeat; 
	background-size: cover;
}
.register{
	padding: 75px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top:10%;
	border: 10px solid #757D80;
	border-radius: 100px;
	opacity: 0.8;
	box-shadow: 10px 10px 10px #757D80;
	height: 500px;
	weight: 400px;
	display: block;
	font-weight: 800;
	background-color: #FFFFFF;
}
.title{
	text-align: center;
	font-size: 30px;
}
.reg{
	margin: 15px;
	wight: 100px;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
.enter{
	font-family: 'Times New Roman', Times, serif; 
	font-size: 35px;
}
.done{
	text-align: center;
	font-size: 25px;
}
.recover{
	text-align: center;
}
.login{
	padding: 75px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top:10%;
	border: 10px solid #757D80;
	border-radius: 100px;
	opacity: 0.8;
	box-shadow: 10px 10px 10px #757D80;
	height: 500px;
	weight: 400px;
	display: block;
	font-weight: 800;
	background-color: #FFFFFF;
}

